${project.build.directory}
**/.jfrog_vscode
*.css
*.err
*.iml
*.jar
*.js
*.js.map
*.log
*.out
*.tar*
*.tmp
*~
.bloop
.devcontainer
.idea
.metals
.vs
.vscode
.zed
compare
dependency-reduced-pom.xml
target